@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Bungee', cursive;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #fff8f0;
}

.cover-page {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.title {
    height: 102px;
    font-size: 40px;
    text-align: center;
    color: #BECA5C;
}

.start {
    width: 50%;
    height: 34px;
    border: none;
    border-radius: 16px;
    background: #CC561E;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: #EF8D32;
    &:active {
        background: #EF8D32;
        color: #CC561E;
    }
}

//select
.select {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.select-title {
    margin: 20px 0;
    text-align: center;
    color: #BECA5C;
}

.themes {
    display: grid;
    grid-template: 55% 55%/0.5fr 0.5fr;
    /* grid-row-gap: 10%; */
    width: 80vmin;
}

.img-theme {
    width: 75%;
    border: 6px solid #fff8f0;
    opacity: 0.7
    /* outline: 1px solid black; */
}

.selected-theme {
    outline: 1.3px solid #af9c9c;
    opacity: 0.9;
}

.play {
    position: absolute;
    bottom: 25px;
}

.theme {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.theme-title {
    text-align: center;
    color: #AA2B1D;
}

.none {
    display: none;
}

//https://colorhunt.co/palette/aa2b1dcc561eef8d32beca5c