@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Bungee', cursive;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #fff8f0;
}

.cover-page {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.title {
    height: 102px;
    font-size: 40px;
    text-align: center;
    color: #BECA5C;
}

.start {
    width: 50%;
    height: 34px;
    border: none;
    border-radius: 16px;
    background: #CC561E;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: #EF8D32;
    &:active {
        background: #EF8D32;
        color: #CC561E;
    }
}

//select
.select {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.select-title {
    margin: 30px 0 20px 0;
    font-size: 20px;
    text-align: center;
    color: #BECA5C;
}

.themes {
    display: grid;
    grid-template: 60% 60%/0.5fr 0.5fr;
    width: 80vmin;
}

.img-theme {
    width: 75%;
    border: 6px solid #fff8f0;
    opacity: 0.6
}

.selected-theme {
    outline: 1.3px solid #af9c9c;
    opacity: 0.9;
}

.play {
    position: absolute;
    bottom: 25px;
}

.theme {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.theme-title {
    text-align: center;
    color: #AA2B1D;
}

.form-players{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    width: 60%;
    max-width: 300px;
    min-width: 194px;
    height: 180px;
    background: #EF8D32;
}

.player-name {
    height: 60px;
    padding: 14px 5px 0 5px;
    text-align: center;
    font-size: 18px;
    font-family: 'Bungee', cursive;
    color: #AA2B1D;
}

.input-player-name{
    width: 90%;
    height: 34px;
    margin: 0 0 28px 0;
    padding: 0 0 0 5px;
    /* border-radius: 16px; */
    border-radius: 2px;
    font-family: 'Bungee', cursive;
    text-align: center;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    outline: none;
    background: #ef9d57;
    border: 1px solid #a85b19;
    color: #cc561e;
}

.dark-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 0;
    height: 100vh;
    z-index: 2;
    background: rgba(0,0,0,0.80);
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    max-width: 300px;
    min-width: 194px;
    height: 230px;
    background: #EF8D32;
}

.btn-modal {
    width: 80%;
    height: 34px;
    margin-bottom: 10px;
    border: none;
    border-radius: 16px;
    background: #CC561E;
    color: #EF8D32;
    font-family: 'Bungee', cursive;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    &:active {
        background: #EF8D32;
        color: #CC561E;
    }
}

.play-again {
    position: relative;
    top: 10px;
}

.fas {
    width: min-content;
}

.winner-msg {
    height: 60px;
    padding: 14px 5px 0 5px;
    text-align: center;
    font-size: 18px;
    font-family: 'Bungee', cursive;
    color: #AA2B1D;
}

.trophy {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

#drawing_canvas {
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 350px;
    top: -300px;
    bottom: 0;
    /* left: -40px; */
    right: 0;
    z-index: 3;
}

.top-modal {
    position: absolute;
    top: 84px;
    background: transparent;
}

.transparent {
    background: transparent;
    color: transparent;
    z-index: 3;
}

.trophy {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 2s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    /* 0% { transform: translate(1px, 1px) rotate(1deg); }
    5% { transform: translate(-1px, -2px) rotate(-1deg); }
    10% { transform: translate(-3px, 0px) rotate(1deg); }
    15% { transform: translate(3px, 2px) rotate(-1deg); }
    20% { transform: translate(1px, -1px) rotate(1deg); }
    25% { transform: translate(-1px, 2px) rotate(-1deg); }
    30% { transform: translate(-3px, 1px) rotate(1deg); }
    35% { transform: translate(3px, 1px) rotate(-1deg); }
    40% { transform: translate(-1px, -1px) rotate(1deg); }
    45% { transform: translate(1px, 2px) rotate(-1deg); }
    50% { transform: translate(1px, -2px) rotate(1deg); }
    100% { transform: translate(0px, 0px) rotate(0deg); } */

    0% { transform: translate(0px, -4px) rotate(12deg);}
    3% { transform: translate(0px, -7px) rotate(-12deg);}
    6% { transform: translate(0px, -9px) rotate(12deg);}
    9% { transform: translate(0px, -10px) rotate(-12deg);}
    12% { transform: translate(0px, -10px) rotate(12deg);}
    15% { transform: translate(0px, -10px) rotate(-12deg);}
    16% { transform: translate(0px, -10px) rotate(12deg);}
    21% { transform: translate(0px, -9px) rotate(-12deg);}
    24% { transform: translate(0px, -7px) rotate(12deg);}
    27% { transform: translate(0px, -4px) rotate(-12deg);}
    30% { transform: translate(0px, -4px) rotate(12deg);}
    33% { transform: translate(0px, 0px) rotate(0deg);}

    100% { transform: translate(0px, 0px) rotate(0deg);}
  }

.none {
    display: none;
}

//https://colorhunt.co/palette/aa2b1dcc561eef8d32beca5c