@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.board {
    display: grid;
    grid-template: repeat(3, 1fr)/33% 33% 33%;
    grid-gap: 1%;
    width: 80vmin;
    height: 80vmin;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: rgb(242,142,30);
    background: linear-gradient(135deg, rgba(242,142,30,1) 0%, rgba(239,134,16,1) 50%, rgba(218,119,8,1) 100%);
}

.card {
    width: 45%;
}

main {
    display: flex;
    align-items: center;
    height: 100vh;
    background: #fff8f0;
    background-image: url('./images/halloween-pattern.PNG');
    background-size: 58px;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 0 50px 0;
    background: transparent;
}

.btns-game {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 60px;
    width: 95%;
}

.btn-game {
    width: 49%;
    height: 34px;
    border-radius: 16px;
    font-family: 'Bungee', cursive;
    border: none;
    background: #CC561E;
    color: #EF8D32;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    &:active {
        background: #EF8D32;
        color: #CC561E;
    }
}

.retributions {
    width: 95%;
    position: absolute;
    bottom: 4px;
    text-align: center;
    font-size: 10px;
    color: #fff8f0;
    a {
        text-decoration: none;
        color: #fff8f0;
    }
}

.none {
    display: none;
}