@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
*, html, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

.board {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
  -ms-grid-columns: 33% 33% 33%;
      grid-template: repeat(3, 1fr)/33% 33% 33%;
  grid-gap: 1%;
  width: 80vmin;
  height: 80vmin;
}

.cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 2;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #4e0098 0%, #1c0071 50%, #150057 100%);
}

.card {
  width: 45%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  /* background: linear-gradient(135deg, rgba(78,0,152,1) 0%, rgba(28,0,113,1) 50%, rgba(21,0,87,1) 100%);
    background-image: url('./images/space-img.jpg');
    background-size: 100%; */
}

.game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 0 50px 0;
  background: linear-gradient(135deg, #64ad46 0%, #5ea242 50%, #57963d 100%);
  background: transparent;
}

.btns-game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 60px;
  width: 95%;
  z-index: 2;
}

.btn-game {
  width: 49%;
  height: 34px;
  border-radius: 16px;
  font-family: 'Bungee', cursive;
  border: none;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, left bottom, left top, from(#c7bcd0), color-stop(50%, #c2bacb), to(#ada1b8));
  background: linear-gradient(0deg, #c7bcd0 0%, #c2bacb 50%, #ada1b8 100%);
  color: #3d0454;
}

.btn-game:active {
  background: #fbb034;
  color: #ffd500;
}

.retributions {
  width: 95%;
  position: absolute;
  bottom: 4px;
  z-index: 1;
  text-align: center;
  font-size: 10px;
  color: #fff8f0;
}

.retributions a {
  text-decoration: none;
  color: #fff8f0;
}

.violet {
  width: 100vmin;
  height: 100vmax;
  position: absolute;
  top: 0px;
  z-index: 1;
  background: linear-gradient(135deg, rgba(78, 0, 152, 0.6) 0%, rgba(28, 0, 113, 0.6) 50%, rgba(21, 0, 87, 0.6) 100%);
}

.back-space {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
}

.space-img {
  width: 100vmin;
  height: 100vmax;
}

.none {
  display: none;
}
/*# sourceMappingURL=space-styles.css.map */