.board {
    display: grid;
    grid-template: repeat(3, 1fr)/33% 33% 33%;
    width: 80vmin;
    height: 80vmin;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid white;
    background: rgb(107, 197, 71);
   /*  background: rgb(86, 155, 59); */
    /* background: rgb(78, 139, 54); */
    /* background: rgb(54, 54, 139); */
}

.card {
    width: 45%;
}